@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-heading), ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Hide Next.js development badge */
nextjs-portal {
  display: none !important;
}
